<!DOCTYPE HTML>
<html lang="pt-br">
    <head>
		<meta charset="UTF-8">

		<title>Instagram Clone - WEB</title>
		
		<!-- JQuery -->
		<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

	</head>

	<body>


	    <div class="container">

	    	<div class="row">
	    		<div class="col-md-12">
	    			<form action="/get" method="post">
						<div class="form-group">
							<label for="titulo">Usuario:</label>
							<input type="text" class="form-control" id="name" name="name">
						</div>

						<div class="form-group">
							<label for="pwd">Senha:</label>
							<input type="text" class="form-control" id="password" name="password">
						</div>
		    	</div>
	    	</div>
	    </div>
	
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	
	</body>
</html>